
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(yellow, red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
}
.container  {
    background: aliceblue;
    padding: 30px 20px;
    border-radius: 12px;
    width: 300px;
    height: 480px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
    margin: auto;
}
.container button{
    background: linear-gradient(yellow) ;
    width: 20%;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
}
.container label {
    display: block; /* faz o label ocupar a linha toda */
    text-align: left;
    font-size: 19px;
    margin-bottom: 5px;
}
.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
h1 {
    margin-bottom: 25px;
    font-family: cursive;    
}
h2 {
    font-family: cursive;
    position: relative;
    margin-top: 30px;
    margin-bottom: 25px;
}
#Cadastro {
    display: none;
}
#Cadastro button {
    width: 50%;
    padding: 16px;
    border-radius: 25px;
    font-size: 16px;

}

.link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.link a:hover {
text-decoration: underline;
}
.social {
    margin-top: 10px; /*espaço entre os icones e o texto*/
    margin-bottom: 20px; /* espaço extra acima do texto*/
}
.social span {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    line-height: 35px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid black;
}
.social span:nth-child(1)
{background: #3b5998;
text-align: center;
font-family: cursive;}
.social span:nth-child(2)
{background: black;
text-align: center;}
.social span:nth-child(3)
{background: #db4437;
text-align: center;
font-family: cursive;}

footer{
    background: white;
    text-align: centro;
    padding: 7px;
}